* {
    --lightmode-background-color: #fff;
    --lightmode-border-color: #d8dee4;
    --lightmode-color: #24292f;
    --lightmode-theme-background-color: rgba(77, 180, 204, 1);
    --lightmode-theme-content-background-color: rgba(77, 180, 204, 0.0625);

    --darkmode-background-color: #000;
    --darkmode-border-color: #30363d;
    --darkmode-color: #c9d1d9;
    --darkmode-theme-background-color: rgba(77, 180, 204, 0.50);
    --darkmode-theme-content-background-color: rgba(77, 180, 204, 0.0625);

    --link-color: #58a6ff;
}

/*  */

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 16px;
}
body.lightmode {
    background-color: var(--lightmode-background-color);
    color: var(--lightmode-color);
}
body.darkmode {
    background-color: var(--darkmode-background-color);
    color: var(--darkmode-color);
}
body, html {
    width: 100%;
    height: 100%;
    display: flex;
}

/*  */

[href] {
    color: var(--link-color);
}

::-webkit-scrollbar {
    width: 0.5vmax;
}
body.lightmode ::-webkit-scrollbar-track {
    background: var(--lightmode-border-color);
}
body.darkmode ::-webkit-scrollbar-track {
    background: var(--darkmode-border-color);
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*  */

div#container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

/*  */

div#container .banner {
    position: relative;
    display: block;
    width: 100%;
    height: 15%;
}


div#container .banner .banner_image {
    position: relative;
    display: block;
    left: 42.5%;
    top: -100%;
    width: 256px;
    height: 100%;
    z-index: -1;

    background: url(/img/banner.png) 50% 50% no-repeat;
    background-size: 100%;
}

div#container .banner .background {
    position: relative;
    display: block;
    left: 0%;
    top: -200%;
    width: 100%;
    height: 100%;
    z-index: -2;
}
body.lightmode div#container .banner .background {
    background-color: var(--lightmode-theme-background-color);
}
body.darkmode div#container .banner .background {
    background-color: var(--darkmode-theme-background-color);
}


/*  */

div#container .content {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
body.lightmode div#container .content {
    background-color: var(--lightmode-theme-content-background-color);
    border-top: 5px var(--lightmode-border-color) solid;
}
body.darkmode div#container .content {
    background-color: var(--darkmode-theme-content-background-color);
    border-top: 5px var(--darkmode-border-color) solid;
}

body.lightmode div#container .content * {
    border-color: var(--lightmode-border-color);
    outline-color: var(--lightmode-border-color);
}
body.darkmode div#container .content * {
    border-color: var(--darkmode-border-color);
    outline-color: var(--darkmode-border-color);
}

/*  */

div#container .content .page {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/*  */

div#container .content .page .menu {
    position: fixed;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    left: 1%;
    margin-top: 1%;
    width: calc(18% - 2% - 1vmax);
    height: calc(24% - 2%);
    padding: 1%;
    /* background-color: #f00; */
}

/*  */

div#container .content .footer {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 150px;
}
body.lightmode div#container .content .footer {
    background-color: rgba(0, 0, 0, 0.0625);
    border-top: 5px var(--lightmode-border-color) solid;
}
body.darkmode div#container .content .footer {
    background-color: rgba(255, 255, 255, 0.0625);
    border-top: 5px var(--darkmode-border-color) solid;
}