.md_page_view {
    position: relative;
    display: table;
    flex-grow: 1;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    width: 60%;
    min-height: 0;
    outline: 1px solid;
    border-radius: 10px;
    padding: 1vmax;
}

.md_page_view.column {
    margin: 0;
    border-radius: 0;
}

.md_page_view.clear {
    margin: 0;
    outline: 0;
}

.md_page_view h1,
.md_page_view h2,
.md_page_view h3,
.md_page_view h4,
.md_page_view h5,
.md_page_view h6,
.md_page_view p {
    font-weight: normal;
    /* margin: 0; */
}

.md_page_view h1 {
    border-bottom: 1px solid;
}
body.lightmode .md_page_view h1 {
    border-color: var(--lightmode-border-color);
}
body.darkmode .md_page_view h1 {
    border-color: var(--darkmode-border-color);
}

.md_page_view * a.anchor_link {
    opacity: 0;
    /* float: left; */
    
}
.md_page_view [id]:hover a.anchor_link {
    opacity: 1;
}
.md_page_view * a.anchor_link:hover {
    opacity: 1;
}

.md_page_view * a.anchor_link svg.link_icon {
    fill: currentColor;
}
body.lightmode .md_page_view * a.anchor_link svg.link_icon {
    color: var(--lightmode-color)
}
body.darkmode .md_page_view * a.anchor_link svg.link_icon {
    color: var(--darkmode-color)
}