* {
    --lightmode-background-color: #fff;
    --lightmode-border-color: hsl(212, 12%, 80%);
    --lightmode-smooth-color: hsl(0, 0%, 95%);
    --lightmode-color: #24292f;
    --lightmode-theme-background-color: hsl(191, 55%, 40%);
    --lightmode-theme-content-background-color: hsl(191, 1.95%, 97.5%);

    --darkmode-background-color: #000;
    --darkmode-border-color: hsl(212, 12%, 21%);
    --darkmode-smooth-color: hsl(212, 12%, 10.5%);
    --darkmode-color: #c9d1d9;
    --darkmode-theme-background-color: hsl(191, 55%, 15%);
    --darkmode-theme-content-background-color: hsl(191, 55%, 2.5%);

    --link-color: #58a6ff;
}

/*  */

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 16px;
}
body.lightmode {
    background-color: var(--lightmode-theme-content-background-color);
    color: var(--lightmode-color);
}
body.darkmode {
    background-color: var(--darkmode-theme-content-background-color);
    color: var(--darkmode-color);
}
body.lightmode * {
    border-color: var(--lightmode-border-color);
}
body.darkmode * {
    border-color: var(--darkmode-border-color);
}

/*  */

[href] {
    color: var(--link-color);
}

::-webkit-scrollbar {
    width: 0.5vmax;
}
body.lightmode ::-webkit-scrollbar-track {
    background: var(--lightmode-border-color);
}
body.darkmode ::-webkit-scrollbar-track {
    background: var(--darkmode-border-color);
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*  */

body div#background {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
}
body.lightmode div#background {
    background-color: var(--lightmode-theme-background-color);
}
body.darkmode div#background {
    background-color: var(--darkmode-theme-background-color);
}

/*  */

h1, h2, h3, h4, h5, h6, p {
    font-weight: normal;
}